<%= _("We've noticed an unusually high storage usage on %{project_name}" % { project_name: @project_name }) %>

<%=
  _("To manage your usage and prevent your project from being placed in a read-only state, contact support immediately: %{support_link}.") % { support_link: @support_url }
%>
