- add_to_breadcrumbs _('Geo Sites'), admin_geo_nodes_path
- add_page_specific_style 'page_bundles/admin/geo_replicable'

= render "admin/geo/shared/replication_nav"
#js-geo-replicable{ data: { "geo-replicable-empty-svg-path" => image_path("illustrations/empty-state/empty-geo-md.svg"),
  "replicator-class-data" => replicable_class_data(@replicator_class).to_json,
  "geo-target-site-id" => @target_node&.id,
  "geo-current-site-id" => @current_node&.id } }
