- add_to_breadcrumbs _('Geo Sites'), admin_geo_nodes_path
- add_to_breadcrumbs _('Geo Replication'), site_replicables_admin_geo_node_path
- replicable_data = replicable_class_data(@replicator_class)

#js-geo-replicable-item{ data: { "replicable_item_id" => params[:replicable_id], "graphql_field_name" => replicable_data[:graphql_field_name] } }
